.App {
  background: var(--color-primary);
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-primary: white;
  --font-color: #444452;
}

.App .buttonsunmoon {
  float: right;
  margin-top: 20px;
}

.App .form-switch .switch {
  height: 25px;
  width: 45px;
}

.App .head {
  height: 120px;
}

.App .moon {
 margin: 5px 30px 0px 10px;
 /* margin-right: 30px; */
}

.App .sun {
  margin: 5px 10px 0px 0px;
  /* margin-right: 10px; */
 }

.App .sqq {
  display: inline;
}

html {
  background: var(--color-primary);
}